body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 10rem;
}
button{
    margin-top: 3rem;
    padding: .8rem 2rem;
    width: fit-content;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px gray;
    font-size: 1.3rem;
    color: #3c3c3c;
    }
button:active{
    transform: scale(.9);
}
.dogs,
.cats{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 4rem;
}